html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(160deg, rgb(115, 193, 245), rgb(147, 211, 248), rgb(215, 247, 247));
}

.loki-box {
  font-size: x-large;
  color: white;
  text-shadow: 1px 1px 2px 2px rgb(63, 191, 223);
}

.center {
  text-align: center;
}